.List{
    color:  #fff;
    width: 300px;
    background-color: #bf07ac;
    height: 50px;
    width: 20px auto;
    border-radius: 5px;
}
.List p{
    padding: 10px;
    position: relative;
}
.List p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.favicons{
    margin: 0 5px;
    font-size: 15px;
    
}
.List p input{
   
    border: 0;
    color: black;
    font-size: 18px;
}
.List p input:focus{
    outline: none;
}